@import 'bootstrap';
$height: calc(100% - 100px);

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url('hero.jpg');
  background-size: cover;
  height: 570px;
  background-color: #ddf0f9;
  opacity: 0.8;
}

.jumbotron h1 {
  display: inline-block;
  background-color: #082036;
  color: #fff;
  padding: 10px 15px;
  letter-spacing: -1px;
  font-weight: bold;
  margin: 20px 0 55px 0;
}

.footer {
  margin-top: 55px;
  height: 35px;
  border-top: 1px solid #aeaeae;
  width: 100%;
}
.footer small {
  float: left;
}
.footer nav {
  float: right;
}

.footer ul {
  list-style: none;
}

.article-actions {
  border-top: 1px solid #bdbaba;
}

.article-metadata {
  border-top: 1px solid #bdbaba;
  color: #0000006c;
  padding: 5px 0;
}

.gravatar {
  height: 80px;
  width: auto;
  border-radius: 50%;
}

.center {
  display: flex;
  justify-content: center;
}
